<footer>
    <p><b>Author:</b><br>
        juandemarr&copy;
    </p>
    <p><b>Descripción: </b><br>
        Red social tipo instagram con: creación, edicion y borrado de publicaciones (incluyendo archivos de imágenes) - likes - seguidores - comentarios - buscador de usuarios - reportes de publicaciones - login, registro y edición de usuarios. <br>
        En la página principal se muestras las publicaciones de quienes sigues.<br>
        Parte administrativa con: gestion de denuncias de publicaciones con su previa notificacion - analiticas con google charts segun informacion de la base de datos - borrado de usuarios, publicaciones o comentarios.
    </p>
    <p><b>Tecnologías usadas:</b><br>
        Symfony 5 - SASS - JS - Bootstrap - Responsive design (mobile first) - HTML 5 - CSS 3
    </p>
    <p><b>Menciones:</b> Iconos de <a target="_blank" href="https://iconos8.es">Icons8</a></p>
</footer>